nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
nav{
    display: flex;
    justify-content: space-evenly;
    
}
#Contact{
    display: flex;
    gap: 20px;
    align-items: center;
}
nav h1{
    font-size: 50px;
}
nav div h3{
    font-size: 30px;
}
.btn{
    padding: 10px;
    height: 50px;
    width: 200px;
    background-color: rgb(7, 145, 199);
    color: azure;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}
nav{
   align-items: center;
}
#mainHeading{
    font-size: 80px
}
.heading{
    text-align: center;
}
.heading p{
    font-size: 30px;
}
#features{
    display: flex;
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
    gap: 50px;
    margin-left: 200px;
}
.border{
    border: 2px solid rgb(241, 202, 202);
    height: 250px;
    width: 300px;
    padding-left: 20px;
    padding-top: 50px;
    border-radius: 20px;
    background-color: rgb(243, 238, 229);
}
.border img{
    height: 30px;
    width: 30px;
}
a{
    text-decoration: none;
    color: black;
}
button:hover{
    background-color: rgb(255, 0, 0);
}